./KIS_prototype1_executable/*
./4550 Project ver 5/.vs/4550 Project ver 5/v16/*
./4550 Project ver 5/Packages/*
./4550 Project ver 5/ProjectSettings/*
./4550 Project ver 5/Temp/*
./4550 Project ver 5/obj/Debug/*
